<html>
<head>
	<title>receiptomatic / invalid</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	<big>It appears you have used an invalid hostname. Please correct and try again.</big>
</body>
</html>
