<html>
<head>
	<title>app / logout</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	<big>For your security. You have been logged out and your session destroyed.</big>
	<p />
	<big><a href = "/login/">Log</a> back in again.</big>
</body>
</html>
